@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
  text-align: center;
  font-family: "Klee One", serif;
  color: #ffffffde;
  background-image: url("https://external-preview.redd.it/4x7Yr1uMePsgC0ywvvsW_mKGA8K4XEdeNNSS_z0VsBg.jpg?auto=webp&s=e95d9239423ae4d8c02c3d82b74bebbd9fa207ca");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #2e291ee7;
  background-blend-mode: overlay;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #b1e1e9;
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}